.our_cars {
    margin: 0;
    padding: 0;
    align-items: center;
    background: #fff 
}

.cars_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    gap: 2rem;
    flex-direction: column;
}

.cars_title {
    font-size: 3rem;
    margin-bottom: 0;
}

.cars_description {
    font-size: large;
    font-weight: 500;
    line-height: 1.4;
    margin: 2rem auto;
    padding: 1rem;
}

.download_options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.download_option {
    height: 50px;
    width: auto;
    display: block;
    transition: transform 0.3s;    
}

.download_option:hover {
    transform: scale(1.1);
}

.blueline2 {
    width: 20%;
    height: 5px;
    background-color: #2563eb;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

.car_on_right {
    text-align: center;
}

.car_on_right img {
    max-width: 100%;
}

.cars_types {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
    padding: 0 3rem;
    margin: 30px auto 0px auto;
}

.car_img {
    width: 160px;
    height: auto;
    margin: 0 auto;
    transition: transform 0.3s; 
}

.car_img:hover {
    transform: translateX(-15px) scale(1.1);
}

.cars_types p {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.cars_types > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    cursor: pointer;
}

/* Media Queries */

/* Small Smartphones */
@media only screen and (max-width: 767px) {
    .cars_content {
        display: flex;
        flex-direction: column;
    }

    .car_info {
        padding-top: 30px;
    }

    .cars_title {
        font-size: 1.5rem;
        text-align: center;
        margin: 0px;
    }

    .cars_description {
        font-size: 14px;
        margin: 0;
    }

    .download_options {
        gap: 0.5rem;
    }

    .download_option {
        height: 35px;
    }

    .blueline2 {
        width: 80px;
        height: 3px;
        margin: 10px auto;
    }

    .cars_types {
        flex-direction: column;
        padding: 2rem 1rem;
        margin: 0px;
        gap: 0.5rem;
    }

    .car_img {
        height: 100px;
        width: auto;
    }
}